<div class="form-container">
    <h2>Ajouter un Nouveau Livre</h2>
    
    <form (ngSubmit)="addBook()" #bookForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Titre du livre</mat-label>
        <input matInput [(ngModel)]="book.title" name="title" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Auteur</mat-label>
        <input matInput [(ngModel)]="book.author" name="author" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Statut</mat-label>
        <mat-select [(ngModel)]="book.status" name="status" required>
          <mat-option *ngFor="let status of ['to-read', 'reading', 'finished']" [value]="status">
            {{ status | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Critique</mat-label>
        <textarea matInput [(ngModel)]="book.review" name="review"></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <input matInput type="number" min="1" max="5" [(ngModel)]="book.rating" name="rating" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookForm.valid">
        Ajouter le Livre
      </button>
    </form>
  </div>
  